{
    "bindAddr": ":8080", - default
    "logLevel": "debug", (trace,debug, info, warn, error, fatal, panic)
    "dbConnStr": "user=user password=password port = 5432 host = localhost  dbname=some_dbname sslmode=disable"
    "salt": "SALTYSALT",
    "apiPrefix": "/api/v1"
}